<h2>My Coffees</h2>
<div>
  <label>Coffee name:
    <input #coffeeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(coffeeName.value); coffeeName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let coffee of coffees">
    <a routerLink="/detail/{{coffee.id}}">
      <span class="badge">{{coffee.id}}</span> {{coffee.name}}
    </a>
    <button class="delete" title="delete coffee"
            (click)="delete(coffee)">x</button>
  </li>
</ul>
